# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\PROJECT\Learning  CHECK D Schijf voor dubbele files\Coding\Front-end\Code 15 react Projects complete course\First course\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
